[
	{ 	sasl, [ 
%		{sasl_error_logger, {file, "logs/sasl.log"}},
		{errlog_type, error},
		{error_logger_mf_dir, "logs/cacherl"},
		{error_logger_mf_maxbytes, 1024000},
		{error_logger_mf_maxfiles, 100}
	] },
	{	tcp_server, [
		{ client_module, memcached_reader },
		{ listeners, [ {"0.0.0.0", 11311} ] }
	] },
	{	memcached, [
		{namespaces, [ns1, ns2, ns3]}
	] }
].
